<!--
	ioBroker.vis netatmo-energy Widget-Set

	version: "0.1.0"

	Copyright 2021 ioKlausi nii@gmx.at
-->
<link rel="stylesheet" href="widgets/netatmo-energy/css/style.css" />

<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/netatmo-energy/js/netatmo-energy.js"></script>

<script id				=	"tplnetatmo-energyValves"
		type			=	"text/ejs"
		class			=	"vis-tpl"
		data-vis-prev	=	'<img src="widgets/netatmo-energy/img/netatmo-energy.png"></img>'
		data-vis-attrs	=	"oid/id/getDynamicAttributes;
							temp_oid/hidden;
							act_oid/hidden;
							title_oid/hidden;
							xpos_title[10]/slider,0,1024,1;
							ypos_title[118]/slider,0,768,1;
							alternativ_title[&room];
							color_title/color;
							title_font/fontname;
							title_fontsize[large]/nselect,medium,xx-small,x-small,small,large,x-large,xx-large,smaller,larger;"
		data-vis-attrs0	=	"group.frame;
							frame_left_top_radius[15]/slider,0,25,1;
							frame_rigth_top_radius[0]/slider,0,25,1;
							frame_top_color[#F39C12]/color;
							frame_left_bottom_radius[0]/slider,0,25,1;
							frame_right_bottom_radius[15]/slider,0,25,1;
							frame_bottom_color[#cb7906]/color;"
		data-vis-attrs1	=	"group.slider;
							min[6]/number;
							max[30]/number;
							step[0.5]/number;
							orientation[horizontal]/nselect,horizontal,vertical;
							inverted/checkbox;
							submitmethod[stop]/nselect,scroll,stop;
							top_slider[30]/slider,0,1024,1;
							left_slider[60]/slider,0,768,1;
							width_slider[180]/slider,0,1024,1;"
		data-vis-attrs2	=	"group.temp;
							position_target[1]/number;
							valve_target;
							valve_target_behind;
							temperature_target_color/color;
							position_actual[2]/number;
							valve_actual;
							valve_actual_behind;
							temperature_ist_color/color;
							position_now[3]/number;
							valve_now;
							valve_now_behind;
							temperature_valve_color/color;
							top_valve[65]/slider,0,768,1;
							left_valve[115]/slider,0,1024,1;
							temperature_font/fontname;
							temperature_fontsize/nselect,medium,xx-small,x-small,small,large,x-large,xx-large,smaller,larger;"
		data-vis-attrs3	=	"group.picture;
							upd_oid/id;
							pic_logo/image;
							xpos_logo[10]/slider,0,1024,1;
							ypos_logo[20]/slider,0,768,1;
							size_logo[40]/slider,0,300,1;
							show_logo[true]/checkbox;
							refr_oid/id;
							pic_refresh/image;
							xpos_refresh[230]/slider,0,1024,1;
							ypos_refresh[4]/slider,0,768,1;
							size_refresh[15]/slider,0,300,1;
							show_refresh[true]/checkbox;"
		data-vis-attrs4	=	"group.signals_widget;
							reachable_oid/hidden;
							pic_reachable/image;
							xpos_reachable[161]/slider,0,1024,1;
							ypos_reachable[120]/slider,0,768,1;
							size_reachhable[20]/slider,0,300,1;
							show_reachable[true]/checkbox;
							anticipating_oid/hidden;
							pic_anticipating/image;
							xpos_anticipating[185]/slider,0,1024,1;
							ypos_anticipating[123]/slider,0,768,1;
							size_anticipating[15]/slider,0,300,1;
							show_anticipating[true]/checkbox;
							windowopen_oid/hidden;
							pic_windowopen/image;
							xpos_window[205]/slider,0,1024,1;
							ypos_window[121]/slider,0,768,1;
							size_window[20]/slider,0,300,1;
							show_windowopen[true]/checkbox;
							running_oid/hidden;
							pic_running/image;
							xpos_running[230]/slider,0,1024,1;
							ypos_running[122]/slider,0,768,1;
							size_running[18]/slider,0,300,1;"
		data-vis-set	=	"netatmo-energy"
		data-vis-type	=	"ctrl,val"
		data-vis-name	=	"Thermostat">

	<div style="overflow:visible; width: 250px; height: 143px; padding: 2px;" class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>">
		<div style="width: 100%; height: 100%;" class="netatmo-energy-class vis-widget-body <%== this.data.attr('class') %>">
			<div class="netatmo-borderbutton netatmo-borderbutton-top"
						  id="<%= this.data.attr('wid') %>_area_top"
				   style="<%== (this.data.attr('frame_left_top_radius')) ? ('border-top-left-radius: ' + this.data.attr('frame_left_top_radius')) + 'px;' : 'border-top-left-radius: 0px;'%><%== (this.data.attr('frame_rigth_top_radius')) ? ('border-top-right-radius: ' + this.data.attr('frame_rigth_top_radius')) + 'px;' : 'border-top-right-radius: 0px;'%><%== (this.data.attr('frame_top_color')) ? ('background-color: ' + this.data.attr('frame_top_color')) + ';' : 'background-color: lightgrey;'%>"</div>
			</div>
			<div class="netatmo-borderbutton netatmo-borderbutton-bottom" id="<%= this.data.attr('wid') %>_area_bottom" style="<%== (this.data.attr('frame_left_bottom_radius')) ? ('border-bottom-left-radius: ' + this.data.attr('frame_left_bottom_radius')) + 'px;' : 'border-bottom-left-radius: 0px;'%>
				<%== (this.data.attr('frame_right_bottom_radius')) ? ('border-bottom-right-radius: ' + this.data.attr('frame_right_bottom_radius')) + 'px;' : 'border-bottom-right-radius: 0px;'%>
				<%== (this.data.attr('frame_bottom_color')) ? ('background-color: ' + this.data.attr('frame_bottom_color')) + ';' : 'background-color: lightblue;'%>">
			</div>
			<span class="wrapper">
				<!-- Show logo -->
				<div class="netatmo-pic-frame" id="<%= this.data.attr('wid') %>_logo" style="left: <%== this.data.attr('xpos_logo') %>px; top: <%== this.data.attr('ypos_logo') %>px;">
		  		<%= (el) -> vis.binds.netatmobasic.getLogoandAPItrigger(el, this.data.attr('upd_oid'), this.data) %>
				</div>

				<!-- Show refresh -->
				<div class="netatmo-pic-frame" id="<%= this.data.attr('wid') %>_refresh" style="left: <%== this.data.attr('xpos_refresh') %>px; top: <%== this.data.attr('ypos_refresh') %>px;">
		  		<%= (el) -> vis.binds.netatmobasic.getAPIrefresh(el, this.data.attr('refr_oid'), this.data) %>
				</div>

				<!-- Show signals -->
				<div class="netatmo-pic-frame" id="<%= this.data.attr('wid') %>_windowopen" style="left: <%== this.data.attr('xpos_window') %>px; top: <%== this.data.attr('ypos_window') %>px;">
					<%= (el) -> vis.binds.netatmobasic.getwindowopen(el, this.data.attr('wid'), this.data) %>
				</div>
				<div class="netatmo-pic-frame" id="<%= this.data.attr('wid') %>_reachable" style="left: <%== this.data.attr('xpos_reachable') %>px; top: <%== this.data.attr('ypos_reachable') %>px;">
					<%= (el) -> vis.binds.netatmobasic.getreachable(el, this.data.attr('wid'), this.data) %>
				</div>
				<div class="netatmo-pic-frame" id="<%= this.data.attr('wid') %>_anti" style="left: <%== this.data.attr('xpos_anticipating') %>px; top: <%== this.data.attr('ypos_anticipating') %>px;">
					<%= (el) -> vis.binds.netatmobasic.getanticipating(el, this.data.attr('wid'), this.data) %>
				</div>
				<div class="netatmo-pic-frame" id="<%= this.data.attr('wid') %>_running" style="left: <%== this.data.attr('xpos_running') %>px; top: <%== this.data.attr('ypos_running') %>px;">
					<%= (el) -> vis.binds.netatmobasic.getrunning(el, this.data.attr('wid'), this.data) %>
				</div>

				<!-- Show title -->
				<div class="netatmo-title" id="<%= this.data.attr('wid') %>_title" style="position: absolute; left: <%== this.data.attr('xpos_title') %>px; top: <%== this.data.attr('ypos_title') %>px;">
					<%= (el) -> vis.binds.netatmobasic.gettitle(el, this.data.attr('wid'), this.data) %>
				</div>

				<!-- Show slider -->
				<div class="netatmo-slidergroup" id="<%= this.data.attr('wid') %>_slider" style="position: absolute; top: <%== this.data.attr('top_slider') %>px; left: <%== this.data.attr('left_slider') %>px; width: <%== this.data.attr('width_slider') %>px;">
            <div class="netatmoSlider" id="<%= this.data.attr('wid') %>_slider" data-oid="<%= this.data.attr('oid') %>" <%= (el) -> vis.binds.netatmobasic.slider(el, this.data.attr('wid'), this.view, this.data, {min: parseFloat(data.min), max: parseFloat(data.max), step: parseFloat(data.step), orientation: data.orientation, inverted: data.inverted, submitmethod: data.submitmethod}) %> /></div>
        </div>

				<!-- Show temperature box -->
				<div class="netatmo-box" id="<%= this.data.attr('wid') %>_temperature" style="position: absolute; top: <%== this.data.attr('top_valve') %>px; left: <%== this.data.attr('left_valve') %>px;">
					<div id = "NetatmoShowTemp" class ="netatmo-info" style="overflow:visible; position: relative; <%== (this.data.attr('temperature_font')) ? ('font-family: ' + this.data.attr('temperature_font') + ';') : 'font-family: Verdana, Geneva, sans-serif;'%> <%== (this.data.attr('temperature_fontsize')) ? ('font-size: ' + this.data.attr('temperature_fontsize') + ';') : 'font-size: x-small;'%>">
						<%= (el) -> vis.binds.netatmobasic.gettemperatures(el, this.data.attr('wid'), this.data) %>
					</div>
				</div>

			</span>
		</div>
	</div>
</script>
